*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
p{
    color: gray;
}
.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 20px;
}
.container{
    position:relative;
    display: flex;
    justify-content:center;
    align-items: center;
    height:100%;
    transform-style: preserve-3d;
    flex-direction: column;
}
.background{
    position: absolute;
    z-index: -1;
    transform: translateZ(-40px) scale(4);
    height:80%;
    width: 100%;
}
.foreground{
    position: absolute;
    transform: translateZ(-20px) scale(2.2);
    height: 100%;
    width: 100%;
    z-index: -1;
}
.t{
    font-size: 150px;
    position: relative;
    bottom: 260px;
    color:gray;
    text-shadow: white; 
}

h2{
    color:white;
    font-size: 4.5rem;
    font-weight: bold;
}
section{
    position: relative; 
    margin-top: 0px;
    background-color: rgb(41, 40, 40);
    padding: 180px;
    font-size: 1.5rem;
    z-index: 10;
}
.bg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    z-index: 10;
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.bg h2{
    position: absolute;
    background-color: rgb(0, 0, 0,0.4);
    border: 10px solid #f1f1f1;
    color: rgb(255, 255, 255);
    padding: 15px 60px;
}
.bg1{
    background-image: url("./image/sport-1.jpg");
}
.bg2{
    background-image: url("./image/sport-2.jpg");
}
.bg3{
    background-image: url("./image/sport-3.jpg");
}
@media(max-width:1000px){
    .t{
        font-size: 100px;
    }
  
}
@media(max-width:650px) {
    .t{
        font-size: 80px;
    }
}
@media(max-width:550px) {
    .t{
        font-size: 60px;
    }
}
@media(max-width:450px) {
    .t{
        font-size: 30px;
    }
}
@media screen and (max-width:480px) {
    .background {
      display: block !important;
      width: 100% !important;
    }
}
    @media screen and (max-width:480px) {
        .foreground{
          display: block !important;
          width: 100% !important;
        }
    }
    @media only screen and (max-width: 320px) {
            .background {
                background-image: url(./image/background.png);
            }
        }